$bg-main-color: #ffffff;
$bg-secondary-color: #e9edf3;

$success-border-color: #28a879;
$success-background-color: #dbf8ef;
$success-text-color: #28a879;

$error-border-color: #ea1a4f;
$error-background-color: #fee9ef;
$error-text-color: #ea1a4f;

$warn-border-color: #adbfdf;
$warn-background-color: #d8e4fb;
$warn-text-color: #122945;

$text-primary-color: #122945;
$text-secondary-color: #5e7793;
